name: Dart

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * 0"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [2.19.0, dev]

    steps:
      # These are the latest versions of the github actions; dependabot will
      # send PRs to keep these up-to-date.
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - uses: dart-lang/setup-dart@8a4b97ea2017cc079571daec46542f76189836b1
        with:
          sdk: ${{ matrix.sdk }}
      - run: dart pub get
        id: install
      - run: dart format --output=none --set-exit-if-changed .
        if: matrix.sdk == 'dev' && steps.install.outcome == 'success'
      - run: dart analyze --fatal-infos
        if: matrix.sdk == 'dev' && steps.install.outcome == 'success'

      - run: dart test
        if: matrix.sdk != 'dev' && steps.install.outcome == 'success'

      - run: dart pub global activate coverage
        if: matrix.sdk == 'dev' && steps.install.outcome == 'success'
        id: install_pkg_coverage
      - run: dart pub global run coverage:test_with_coverage
        if: matrix.sdk == 'dev' && steps.install_pkg_coverage.outcome == 'success'
        id: test_with_coverage
      - uses: coverallsapp/github-action@master
        if: matrix.sdk == 'dev' && steps.test_with_coverage.outcome == 'success'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
